$main_font: 'Roboto';
$main_color: #000000;
$white_color:#FFF;



@mixin max-screen($res)
{
  @media screen and (max-width: $res)
  {
    @content;
  }
}



*{
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
}
header{
  background-color: $white_color;
  padding: 7px 0;
  ul{
    list-style: none;
  }
  li{
    &:first-of-type {
      margin-right: 16px;
    }
  }
}
nav{
  li{
      margin-right: 28px;
    &:first-of-type {
      margin-right: 28px;
    }

    a{
      font: 16px/26px $main_font;
      font-style: normal;
      font-weight: 700;
      color: #1C1B1B;
      text-decoration: none;
    }
  }
}
.container{
  margin: auto;
  max-width: 1064px;
  @include max-screen(992px){
    padding: 0 15px;
  }
  .main_banner img{
    position: absolute;
    right: -111px;
    top: 0;
  }
  .footer-container{
    padding: 0 15px;
  }
}
.d-flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}


.align-center{
  align-items: center;
}
.text-center{
  text-align: center;
}


header li:last-of-type{
  margin-left: 7px;
}
header nav li:last-of-type{
  margin-left: 0;
}
header .container{
  position: relative;
}
header .logo{
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: 13px;
}
.main_banner{
  padding: 90px 0;
  background-color: #F0EFEB;
  position: relative;
}
.main_banner h1{
  font: 60px/70px $main_font;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 42px;
  color: $main_color;
}
.main_banner p{
  font: 24px/28px $main_font;
  font-style: normal;
  font-weight: 400;
  color: $main_color;
  margin-bottom: 26px;
}